//================================================
// footer styling
//================================================
.footer-wrapper {
	background: @brand-primary;
	padding: 30px;
	* {
		color: @white;
	} // * 

	hr {
		opacity: .5;
	}

	a {
		color: @link-hover;
		&:hover {
			color:@white;
		}
	}
	address {
		font-size: @xs-size;
	}
	li {
		line-height: 110%;
	}

	a {
		font-size: @xxs-size;
		font-family: @body-typeface;
	}

	span.small {
		opacity: .8;
	}
	h4 {	
		font-size: @xs-size;		
		margin-bottom: 0;
		padding-bottom: @xs-size;
		text-transform: uppercase;
	}
} // footer-wrapper

.footer-logo {
	max-width: 100%;
}

