//================================================
// interaction components
//================================================

// interactions
a {
	font-family: @headline-typeface;
	color: @link;
	transition: @transition;
	&:hover {
		color: @link-hover;
		transition: @transition;
	}

	&:focus {
		outline: 0;
	}

	.inverse {
		color: @link-inverse;
		transition: @transition;
		&:hover {
			color: @link-inverse-hover;
			transition: @transition;
		}
	}
}


.flex-control-nav {
	display: none !important;
}

.flexslider {
	margin-bottom: 0;
}