//================================================
// interaction components
//================================================

// interactions
a {
	font-family: @headline-typeface;
	color: @link;
	transition: @transition;
	&:hover {
		color: @link-hover;
		transition: @transition;
	}

	&:focus {
		outline: 0;
	}

	.inverse {
		color: @link-inverse;
		transition: @transition;
		&:hover {
			color: @link-inverse-hover;
			transition: @transition;
		}
	}
}


.flex-control-nav {
	display: none !important;
}

.flexslider {
	margin-bottom: 0;
}
.flexslider.loading .slides > li:first-child { opacity: 0 !important; }

//=====================================
//Inline Comments Post Widget
//===================================== 
.incom-comments-wrapper {
	.incom-info-icon {
		font-size: 0;
		height: 0;
	} // .incom-info-icon

	.incom-comments-wrapper li:last-child {
		border-bottom: none;
	} // .incom-comments-wrapper .comment:last-child

	.comment-form-comment {
		padding-top: 20px; 
	} // .comment-form-comment

	textarea {
		border: solid 2px @gray;
		outline: none;

		&:focus,
		&:active {
			border: solid 2px @brand-primary;
			outline: none;	
			transition: .3s;		
		} // &:focus &:active
	} // textarea

	input[type="submit"] {
		background: none;
		border: solid 3px @brand-primary;
		color: @brand-primary;
		transition: .3s;

		&:hover {
			background: @brand-primary;
			color: @white;
			transition: .3s;
			} // &:hover
	} // input[type="submit"]
}

.incom-bubble {
	background: @brand-primary !important;
} // .incom-bubble

.incom-bubble-style:after {
	border-color: transparent @brand-primary !important;
} // .incom-bubble-style:after
