//==================================
// body
//==================================

body {
	background: @body;
}

body, html {
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	height: auto !important;
	width: auto;
	overflow-x: hidden;
}


//==================================
// section
//==================================
section {
	padding: @section-padding;
} // section

.section-header {
	text-align: center;
} // .section-header

.section-cta {
	color: @brand-secondary;
	transition: .3s ease-out;

	&:hover {
		color: darken(@brand-secondary, 20%);
		transition: .3s ease-in;
		padding-bottom: 3px;
	}
} // .section-cta


.ui.segment {
	border-radius: 0 !important;
	box-shadow: none !important;
	border: 1px solid @gray;
	padding: 10px;
}

.ingredient-panel {
	background-color: @gray-light;
	padding: @xs-size;
}

.featured-post-img {
	overflow: hidden;
	max-height: 300px;
}

span.s1 {
	font-size: @xs-size;

}